<h1></h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("bike_4.jpg", class: "img-responsive") %>
<%= image_tag("bike_4.jpg", class: "img-responsive") %>
<%= image_tag("bike_4.jpg", class: "img-responsive") %>